#Ulogin {
         position: absolute;
         left: 0;
         width: 50%;
         padding: 1em 0;
         }
         
        #Clogin {
         position: absolute;
         left: 50%;
         width: 50%;
         padding: 1em 0;
         }
         
        legend {
         font-weight: bold; 
         font-size: 1.2em; 
         margin-bottom: .5em;
         }
         
         #field {padding-bottom: .5em;}

         label {
         font-weight: bold;
         float: left;
         width: 27%;
         margin-right: .5em;
         text-align: right;
         }
         
         .errors {
         font-weight: bold; 
         font-style: italic; 
         font-size: 90%; 
         color: red;
         margin-top: 0;
         }